@using mn.Models
@model Category

<form method="post">
	<div class="container">
		<div class="row pt-4 pb-3">
			<div class="col-6">
				<h2 class="text-primary">
					Chỉnh sửa thông tin sinh viên
				</h2>
			</div>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" type="text" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="PhoneNumber" class="p-0"></label>
			<input asp-for="PhoneNumber" type="text" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="UniversityId" class="control-label"></label>
			<select asp-for="UniversityId" class="form-control" id="cityDropdown">
				<option value="">Chọn trường</option>
				@if (ViewBag.DanhsachList != null) 
				{
					foreach (var danhsach in ViewBag.DanhsachList)
					{
						<option value="@danhsach.Value">@danhsach.Text</option>
					}
				}
			</select>
			<span asp-validation-for="UniversityId" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Cập nhật</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">
					Trở về
				</a>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#cityDropdown').select2({
				placeholder: '-- Chọn trường --',
				allowClear: true
			});
		});
	</script>
}
